* {
  margin: 0;
  padding: 0;
  color: black;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

#header {
  max-width: 1300px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#header .grey-border {
  width: 100%;
  height: 1px;
  background-color: rgb(201, 201, 201);
  position: absolute;
  top: 30px;
  left: 0;
  margin: 0;
  padding: 0;
}
#header #top-navbar {
  height: 30px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1.2rem;
}
#header #top-navbar .left-navbar {
  display: flex;
  align-items: center;
  height: 100%;
}
#header #top-navbar .left-navbar a:hover {
  text-decoration: underline;
}
#header #top-navbar .left-navbar li {
  margin-right: 20px;
}
#header #top-navbar .left-navbar li .left-navbar__link--blue {
  color: #0654BA;
  text-decoration: underline;
}
#header #top-navbar .right-navbar {
  display: flex;
  align-items: center;
  gap: 2px;
  height: 100%;
}
#header #top-navbar .right-navbar li {
  display: flex;
  align-items: center;
}
#header #top-navbar .right-navbar li a {
  padding: 8px 10px 8px;
}
#header #top-navbar .right-navbar li > i {
  padding: 2px 10px 5px;
}
#header #top-navbar .right-navbar li .right-navbar__flag {
  height: 15px;
}
#header #top-navbar .right-navbar li .right-navbar__link--blue:hover {
  color: #3b8df7;
}
#header #top-navbar .right-navbar li .right-navbar__link--underline:hover {
  text-decoration: underline;
}
#header #top-navbar .right-navbar li .watchlist-dropdown {
  box-shadow: 0 0 2px;
  display: none;
  background-color: white;
  z-index: 2;
  position: absolute;
  top: 29px;
  right: 193px;
  width: 350px;
  height: 400px;
  padding: 30px;
}
#header #top-navbar .right-navbar li .watchlist-dropdown .h2 {
  padding: 0;
  font-size: 1.8rem;
  line-height: 2rem;
  text-decoration: underline;
}
#header #top-navbar .right-navbar li .watchlist-dropdown i {
  font-size: 2rem;
  margin-left: 8px;
}
#header #top-navbar .right-navbar li .watchlist-dropdown .img-wrapper {
  display: inline-block;
  cursor: pointer;
  padding: 0;
}
#header #top-navbar .right-navbar li .watchlist-dropdown .img-wrapper:hover img {
  border: 1px solid blue;
}
#header #top-navbar .right-navbar li .watchlist-dropdown .img-wrapper:hover P {
  color: blue;
  text-decoration: underline;
}
#header #top-navbar .right-navbar li .watchlist-dropdown .img-wrapper img {
  width: 200px;
  border: 1px solid rgb(231, 230, 230);
  height: 200px;
  margin-right: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 20px;
}
#header #top-navbar .right-navbar li .watchlist-dropdown .img-wrapper p {
  margin-top: 15px;
  font-size: 1.4rem;
}
#header #top-navbar .right-navbar li .watchlist-dropdown .price {
  display: block;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 15px;
}
#header #top-navbar .right-navbar li .watchlist-dropdown .details {
  font-size: 1.4rem;
  color: grey;
}
#header #top-navbar .right-navbar li .js-watchlist-dropdown__watchlist {
  display: block;
}
#header #top-navbar .right-navbar li .right-navbar__dropdown-ebay {
  display: block;
}
#header #top-navbar .right-navbar li .right-navbar__dropdown-ebay:hover ul {
  display: block;
}
#header #top-navbar .right-navbar li .right-navbar__dropdown-ebay ul {
  background-color: white;
  display: none;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.75);
  border-top: 0;
  position: absolute;
  top: 29px;
}
#header #top-navbar .right-navbar li .right-navbar__dropdown-ebay ul li {
  margin: 0;
  padding: 0;
}
#header #top-navbar .right-navbar li .right-navbar__dropdown-ebay ul .first {
  padding-top: 10px;
}
#header #top-navbar .right-navbar li .right-navbar__dropdown-ebay ul a {
  width: 180px;
  padding-bottom: 10px;
}
#header #top-navbar .right-navbar li .right-navbar__dropdown-ebay ul a:hover {
  text-decoration: underline;
}
#header #top-navbar .right-navbar li .right-navbar__dropdown-ebay-icon {
  margin-left: 2px;
}
#header #top-navbar .right-navbar li .right-navbar__icon {
  font-size: 1.8rem;
}
#header #search-navbar {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding: 0 30px;
}
#header #search-navbar #ebay-logo {
  height: 50px;
  margin-right: 20px;
}
#header #search-navbar .category-wrapper {
  font-size: 1.3rem;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
#header #search-navbar .category-wrapper p {
  color: grey;
}
#header #search-navbar .category-wrapper:hover p {
  color: #0654BA;
}
#header #search-navbar .category-wrapper .category__icon {
  margin-left: 10px;
}
#header #search-navbar form {
  display: flex;
  width: 100%;
  max-width: 100%;
}
#header #search-navbar form .search-box {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(100, 100, 100);
  position: relative;
}
#header #search-navbar form .search-box .search-input-icon {
  position: absolute;
  font-size: 16px;
  color: grey;
  top: 12px;
  left: 12px;
}
#header #search-navbar form .search-box .search-text {
  height: 40px;
  padding-left: 35px;
  border: none;
}
#header #search-navbar form .search-box .search-text:focus {
  outline: none;
}
#header #search-navbar form .search-box .search-text:focus::-moz-placeholder {
  color: transparent;
}
#header #search-navbar form .search-box .search-text:focus:-ms-input-placeholder {
  color: transparent;
}
#header #search-navbar form .search-box .search-text:focus::placeholder {
  color: transparent;
}
#header #search-navbar form .search-box .search-text::-moz-placeholder {
  font-size: 1.4rem;
  line-height: normal;
}
#header #search-navbar form .search-box .search-text:-ms-input-placeholder {
  font-size: 1.4rem;
  line-height: normal;
}
#header #search-navbar form .search-box .search-text::placeholder {
  font-size: 1.4rem;
  line-height: normal;
}
#header #search-navbar form .search-box .search-category {
  border-left: 1px solid grey;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 180px;
  padding: 0 15px;
}
#header #search-navbar form .search-btn {
  background-color: #3665F3;
  color: white;
  font-size: 1.4rem;
  border: none;
  width: 100%;
  max-width: 150px;
  margin-left: 6px;
}
#header #search-navbar .advanced {
  font-size: 1.1rem;
  color: grey;
  margin-left: 15px;
}

#main {
  max-width: 1300px;
  margin: auto;
}

#hero-section {
  width: 100%;
  height: 320px;
}
#hero-section .hero-navbar {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid rgb(201, 201, 201);
  display: flex;
  justify-content: center;
}
#hero-section .hero-navbar ul {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  display: flex;
  align-items: center;
}
#hero-section .hero-navbar ul .home {
  border-bottom: 2px solid black;
}
#hero-section .hero-navbar ul li {
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
#hero-section .hero-navbar ul li a {
  color: rgb(107, 107, 107);
}
#hero-section .hero-navbar ul li a:hover {
  color: #0654BA;
  text-decoration: underline;
}
#hero-section .hero-navbar ul li a i {
  color: rgb(77, 77, 77);
}
#hero-section .hero-display {
  display: flex;
  width: 100%;
  height: 100%;
  background-position-x: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://i.ebayimg.com/images/g/ChcAAOSws~ZjQ~C6/s-l960.webp);
}
#hero-section .hero-display__info {
  width: 500px;
  height: 100%;
  padding: 30px;
  background-color: #F7E275;
}
#hero-section .hero-display__info * {
  color: #592E13;
}
#hero-section .hero-display__info h1 {
  font-size: 3.6rem;
}
#hero-section .hero-display__info p {
  font-size: 1.8rem;
  margin-top: 20px;
}
#hero-section .hero-display__info a {
  display: inline-block;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px 0;
  font-size: 1.6rem;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero-section .hero-display__info a i {
  font-size: 2.2rem;
  margin-left: 15px;
}
#hero-section .hero-display__a {
  width: 100%;
  height: 100%;
}

#call-to-action-section {
  background-color: #FCF2BD;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}
#call-to-action-section * {
  color: #592E13;
}
#call-to-action-section h2 {
  font-size: 2.4rem;
  margin-bottom: 10px;
}
#call-to-action-section p {
  font-size: 1.8rem;
}
#call-to-action-section a {
  font-size: 2rem;
  border: 2px solid rgb(100, 100, 3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 300px;
  color: #592E13;
  height: 40px;
}

#phone-section {
  width: 100%;
  margin-top: 100px;
}
#phone-section .phone-section__header {
  width: 100%;
  height: 100px;
  padding: 20px;
  display: flex;
}
#phone-section .phone-section__header h2 {
  font-size: 2.8rem;
  margin-bottom: 8px;
}
#phone-section .phone-section__header h2:hover {
  text-decoration: underline;
}
#phone-section .phone-section__header p {
  font-size: 1.8rem;
  font-weight: 500;
  color: grey;
}
#phone-section .phone-section__header a {
  display: flex;
  align-items: center;
  font-size: 2rem;
  border-left: 2px solid rgb(221, 221, 221);
  height: 22px;
  margin-left: 20px;
  margin-top: 6px;
  padding-left: 15px;
}
#phone-section .phone-section__header a span:hover {
  text-decoration: underline;
}
#phone-section .phone-section__header a i {
  margin-left: 5px;
  font-size: 2.6rem;
}
#phone-section .scroll-wrapper {
  width: 100%;
  overflow-x: auto;
  height: 260px;
  visibility: hidden;
}
#phone-section .scroll-wrapper:hover {
  visibility: visible;
  transition: color 0s 0.5s;
}
#phone-section .scroll-wrapper::-webkit-scrollbar {
  width: 12px;
}
#phone-section .scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #aaa9a9;
  border-radius: 10px;
  border: 6px solid #ffffff;
}
#phone-section .phone-section__content {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  visibility: visible;
}
#phone-section .phone-section__content .phone-box {
  width: 200px;
  margin-right: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#phone-section .phone-section__content .phone-box img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid rgb(231, 230, 230);
}
#phone-section .phone-section__content .phone-box .price {
  width: 100%;
  height: 100% px;
  font-size: 1.6rem;
  padding: 15px 0;
  font-weight: 600;
}

#shop-all-section {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  width: 100%;
  height: 300px;
}
#shop-all-section .shop-all-header {
  width: 200px;
  height: 100%;
  background-color: #B03005;
  padding: 25px;
}
#shop-all-section .shop-all-header .h2 {
  font-size: 2.8rem;
  color: #FFD1DD;
}
#shop-all-section .shop-all-header .h2:hover {
  text-decoration: underline;
}
#shop-all-section .shop-all-header p {
  font-size: 1.5rem;
  color: #FFD1DD;
  margin-top: 15px;
}
#shop-all-section .shop-all-header .btn {
  display: block;
  font-size: 1.6rem;
  color: #B03005;
  padding: 10px 10px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 210, 210);
}
#shop-all-section .shop-all-header .btn i {
  font-size: 2rem;
  color: #B03005;
  margin-left: 10px;
}
#shop-all-section .scroll-wrapper {
  overflow-x: auto;
  height: 300px;
  width: 100%;
  visibility: hidden;
  margin-left: 1%;
}
#shop-all-section .scroll-wrapper:hover {
  visibility: visible;
  transition: color 0s 0.5s;
}
#shop-all-section .scroll-wrapper::-webkit-scrollbar {
  width: 12px;
}
#shop-all-section .scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #aaa9a9;
  border-radius: 10px;
  border: 6px solid #ffffff;
}
#shop-all-section .item-wrapper {
  height: 100%;
  width: 84%;
  visibility: visible;
}
#shop-all-section .item-wrapper ul {
  display: flex;
  height: 100%;
  gap: 50px;
}
#shop-all-section .item-wrapper ul li a {
  display: block;
  width: 200px;
  height: 100%;
}
#shop-all-section .item-wrapper ul li a img {
  width: 220px;
  height: 220px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid rgb(224, 224, 224);
}
#shop-all-section .item-wrapper ul li a p {
  font-weight: 600;
  font-size: 1.6rem;
  margin-top: 15px;
}

#daily-deals-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
#daily-deals-section .daily-deals-header {
  width: 100%;
  height: 82px;
  display: flex;
  align-items: center;
  padding: 20px;
}
#daily-deals-section .daily-deals-header h2 {
  font-size: 2.8rem;
}
#daily-deals-section .daily-deals-header p {
  font-size: 2rem;
  border-left: 1px solid grey;
  margin-left: 20px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
#daily-deals-section .daily-deals-header p i {
  font-size: 2.6rem;
  margin-left: 5px;
}
#daily-deals-section .scroll-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 260px;
  display: block;
  visibility: hidden;
}
#daily-deals-section .scroll-wrapper:hover {
  visibility: visible;
  transition: color 0s 0.5s;
}
#daily-deals-section .scroll-wrapper::-webkit-scrollbar {
  width: 12px;
}
#daily-deals-section .scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #aaa9a9;
  border-radius: 10px;
  border: 6px solid #ffffff;
}
#daily-deals-section .daily-deal-box {
  width: 100%;
  visibility: visible;
  height: 100%;
}
#daily-deals-section .daily-deal-box ul {
  display: flex;
  height: 100%;
}
#daily-deals-section .daily-deal-box ul li {
  height: 100%;
}
#daily-deals-section .daily-deal-box ul li a {
  width: 250px;
  height: 100%;
  display: block;
}
#daily-deals-section .daily-deal-box ul li a img {
  width: 200px;
  height: 200px;
  margin: 0;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid rgb(235, 232, 232);
}
#daily-deals-section .daily-deal-box ul li a p {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 15px 0;
}

#explore-section {
  margin-top: 150px;
}
#explore-section h2 {
  font-size: 2.8rem;
}
#explore-section ul {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}
#explore-section ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#explore-section ul li a img {
  width: 150px;
  height: auto;
}
#explore-section ul li a p {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(92, 91, 91);
  margin-top: 10px;
}

#car-section {
  height: 300px;
  width: 100%;
  margin-top: 80px;
  display: flex;
}
#car-section .car-header {
  width: 30%;
  height: 100%;
  background-color: #F7E376;
  padding: 15px 30px;
}
#car-section .car-header * {
  color: #592E13;
  display: block;
}
#car-section .car-header .h2 {
  font-size: 3.6rem;
  font-weight: 700;
}
#car-section .car-header > p {
  font-size: 1.8rem;
  margin-top: 15px;
}
#car-section .car-header .btn {
  border: 1px solid black;
  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  font-size: 1.6rem;
  margin-top: 20px;
}
#car-section .car-header .btn i {
  font-size: 2.2rem;
}
#car-section > a {
  display: block;
  height: 100%;
  width: 70%;
  background-image: url(https://i.ebayimg.com/images/g/080AAOSwchBjQ~cW/s-l960.webp);
  background-repeat: no-repeat;
  background-position: 100% 0px;
  background-size: cover;
}

#style-section {
  height: 260px;
  width: 100%;
  margin-top: 80px;
  display: flex;
}
#style-section .style-header {
  width: 25%;
  height: 100%;
  padding: 15px 30px;
}
#style-section .style-header * {
  color: #592E13;
  display: block;
}
#style-section .style-header .h2 {
  font-size: 3rem;
  font-weight: 700;
}
#style-section .style-header > p {
  font-size: 1.6rem;
  margin-top: 15px;
}
#style-section .style-header .btn {
  border: 1px solid black;
  display: flex;
  width: 180px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  font-size: 1.4rem;
  margin-top: 20px;
  font-weight: 600;
}
#style-section .style-header .btn i {
  font-size: 2.2rem;
}
#style-section .style-image-link {
  display: block;
  height: 100%;
  width: 75%;
  background: url(https://i.ebayimg.com/images/g/JAwAAOSwcvtjQ~o~/s-l960.webp);
  background-repeat: no-repeat;
  background-position: 100% 0px;
  background-size: cover;
}

#footer {
  width: 100%;
  height: 300px;
  margin-top: 80px;
  border-top: 1px solid lightgrey;
}
#footer .footer-wrapper {
  max-width: 1000px;
  height: 400px;
  padding: 30px 30px 30px;
  height: 100%;
  margin: auto;
}
#footer .footer-wrapper .footer-lists {
  width: 100%;
  height: 90%;
  display: flex;
}
#footer .footer-wrapper .footer-lists > div {
  height: 100%;
  width: 20%;
  font-size: 1rem;
}
#footer .footer-wrapper .footer-lists > div * {
  color: grey;
}
#footer .footer-wrapper .footer-lists > div ul li {
  padding: 3px 0;
}
#footer .footer-wrapper .footer-lists > div ul li:first-of-type {
  font-size: 1.2rem;
  font-weight: 600;
}
#footer .footer-wrapper .footer-lists > div ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#footer .footer-wrapper .footer-lists > div ul li .site-btn {
  display: block;
  background-color: rgb(247, 245, 245);
  border: 1px solid lightgrey;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footer-wrapper .footer-lists > div ul li .site-btn img {
  height: 10px;
}
#footer .footer-wrapper .footer-lists > div ul li .site-btn p {
  margin: 6px;
}
#footer .footer-wrapper .footer-lists > div ul li .site-btn p:hover {
  text-decoration: underline;
}
#footer .footer-wrapper .footer-lists > div ul li .icon {
  display: flex;
  gap: 3px;
}
#footer .footer-wrapper .footer-lists > div ul li .icon p {
  line-height: 1.4rem;
}
#footer .footer-wrapper .footer-lists > div ul li .icon i {
  font-size: 1.4rem;
}
#footer .footer-wrapper .copyright {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  color: grey;
  font-size: 0.9rem;
}
#footer .footer-wrapper .copyright a {
  text-decoration: underline;
  color: grey;
}/*# sourceMappingURL=styles.css.map */